.textContent{margin: 30px 48px;}
.textContent h4{display:flex;justify-content:space-between;font-size: 18px; margin-bottom: 30px;}
.textContent p{margin-bottom: 20px;text-indent: 2em;}
.cue{color: skyblue;}
.textContent img{margin: 0 auto; margin-bottom: 20px;}
